#menu {
  --sin45: 0.707;
  --opacity1: 0.15;
  --opacity2: 0.8;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: var(--size) auto;
  grid-template-rows: var(--size) auto;
}

@supports (width: calc((sin(45deg)) * 1px)) {
  #menu {
    --sin45: calc(sin(45deg));
  }
}

.list {
  --x-pos: 0;
  --y-pos: 0;

  box-sizing: border-box;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  margin: 0;
  padding: var(--size);
  overflow-y: auto;
  -webkit-backdrop-filter: blur(var(--line)); /* Safari */
  backdrop-filter: blur(var(--line));
  background: radial-gradient(
    circle at calc(var(--x-pos) * 1px) calc(var(--y-pos) * 1px),
    rgb(var(--color3-r), var(--color3-r), var(--color3-r), var(--opacity2)),
    rgb(var(--color2-r), var(--color2-r), var(--color2-r), var(--opacity2))
  );
  transition: transform 0.5s;
  z-index: 1;
}

::-webkit-scrollbar {
  width: var(--line);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color4);
}

.selected {
  list-style-type: square;
}

li {
  box-sizing: border-box;
  padding: var(--dline);
  list-style-type: none;
}

li:hover {
  padding: var(--line);
  border: solid var(--line) var(--color4);
  cursor: pointer;
}

li:active {
  background-color: var(--color3);
  transform: translate(0, var(--line));
}

.toggle-block {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: var(--color1);
  z-index: 2;
}

.checkbox {
  margin: 0;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.line {
  --diagonal-scale: calc(1 / var(--sin45));
  position: absolute;
  left: 25%;
  width: var(--hsize);
  height: var(--line);
  background-color: var(--color2);
  transform-origin: 0% var(--hline);
  transition: transform 0.5s, width 0.5s;
}

#line1 {
  top: calc(25% - var(--hline));
}

#line2 {
  top: calc(50% - var(--hline));
}

#line3 {
  top: calc(75% - var(--hline));
}

input[type="checkbox"]:checked ~ .toggle-block #line1 {
  transform: rotate(45deg) scale(var(--diagonal-scale), 1);
}

input[type="checkbox"]:checked ~ .toggle-block #line2 {
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .toggle-block #line3 {
  transform: rotate(-45deg) scale(var(--diagonal-scale), 1);
}

input[type="checkbox"]:not(:checked) ~ .list {
  transform: translate(-100%);
}
